@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  font-size: 12px;
}
.folder {
  position: relative;
}

.folder .vertical-line {
  position: absolute;
  border-left: 1px dotted gray;
  top: 20px;
  left: 7px;
  height: calc(100% - 20px);
}

.folder .item, .folder .folder {
  margin-left: 28px;
  margin-top: 10px;
}

.file-name {
  padding: 0;
  margin: 0;
}
